@use '../custom' as *;

.about-me {
    padding-top: 2.5rem;
    color: $accent;
    
//<!--LEFT BLOCK-->

.about-me-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.circular-portrait {
    overflow: hidden;
    border-radius: 50%;
    filter: grayscale(50%);
    width: 300px;
    height: 300px;
 }

 .get-in-touch {
    width: 350px;
    display: flex;
    justify-content: space-evenly;

    padding-top: 5%;
    padding-bottom: 2%;

    i {
        font-size: 4em;
    }

    i:hover{
        color: $tertiary;
    }
 }

 //<!--RIGHT DESCRIPTION BLOCK-->

 .about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

 .about-me-title {
    width: 90%;
 }

 h1{
    width: auto;
    color: $tertiary;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 20px;
 }

 .about-me-vs {
    display: flex;
    justify-content: space-around;
 }

 .fun-section {
    border-top: 2px dotted $accent;
    border-bottom: 2px dotted $accent;
    padding-top: 10px;
 }

 .listening-to {
    justify-content: space-evenly;

    p {
        font-style: italic;
        font-family: serif;
        padding-top: 5px;
    }

    img {
        width: 40px;
        height: auto;
    }

 }

 .about-me-description {
    width: 95%;
    text-align: justify;
    font-family: serif;
 }

 }
 
}
