@use '../custom' as *;

.contact-me {

    font-family: serif;
    background-color: $primary;
    text-align: center;
    padding-top: 5vw;
    
    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;

        h2 {
            font-size: 4em;
            color: $tertiary;
            font-family: 'Dancing Script', cursive;
            padding-bottom: 2vw;
        }

    }

    .flex-container {
        display: inline-block;
        text-align: left;
    }

    .flexbox-container {
        font-size: large;

            i {
                color: $secondary;
                font-size: x-large;
            }

            a {
                color: $secondary;
            }

    }

}