@use '../custom' as *;

.projects {

    font-family: serif;
    background-color: $primary;
    padding-top: 5vw;
    padding-bottom: 3vw;

    h2 {
        font-size: 4em;
        color: $tertiary;
        font-family: 'Dancing Script', cursive;
        padding-bottom: 3vw;
    }

    .row {

        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 30px;

        .card-title {
            font-weight: 600;
            color: #888888;
            text-align: left;
            margin-left: 15px;
        }

        .card-text {
            color: #888888;
            text-align: justify;
            margin: 15px;
        }

        .tags {
            text-align: left;
            margin: 15px;
        }

        .language-tool-tag {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: $tertiary;
            color: #fff;
            font-size: small;
            padding: 3px;
            border-radius: 4px;
            font-weight: 600;
        }

        img {
            filter: grayscale(50%);
        }

        .card-footer {
            background-color: #fff;
            border: #fff;
            padding-bottom: 1vw;

            .btn {
                color: #fff;
                border-color: #888888;
                background-color: #888888;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: right;
                padding-left: 15px;
                padding-right: 15px;
            }
    
            a:hover {
                color: $primary;
            }

        }
        
    }

}